html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 480px;
  cursor: pointer;
  border: 1px solid #cccccc;
  background: #73a500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

#backgroundMain {
  width: 100%;
  height: 100%;
  background: url("../img/portraitBg.jpg") no-repeat; }

#intelLogo {
  top: 20px;
  left: 20px; }

#lenovoLogo {
  top: 20px;
  right: 0px; }

.copies {
  top: 130px;
  left: 8px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

#products {
  top: 226px;
  left: 50px;
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px); }

#cta {
  top: 210px;
  left: 20px;
  opacity: 0; }

#bgExit {
  width: 320px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

@media screen and (min-width: 480px) {
  #mainContent {
    width: 480px;
    height: 320px; }
  #backgroundMain {
    background: url("../img/landscapeBg.jpg") no-repeat; }
  .copies {
    -webkit-transform: translate(0px, 300px);
    -ms-transform: translate(0px, 300px);
    transform: translate(0px, 300px); }
  #products {
    top: 60px;
    left: 250px;
    -webkit-transform: translate(0px, -300px);
    -ms-transform: translate(0px, -300px);
    transform: translate(0px, -300px); } }
